:root {
  --dark: rgba(0, 0, 0, .13);
  --primary: #1D3557;
  --secundary: #A8DADC;
  --tertiary: #66EABA;
  --highlight: #F0C24A;
  --box-background: #E4E4E4;

  --secundary-text: #8E8E8E;
  --description-text: #457B9D;
  --input-text: #1D3557;
}